<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @ad.details %>
</p>

<p>
  <strong>Date posted:</strong>
  <%= @ad.date_posted %>
</p>

<p>
  <strong>Imgurl:</strong>
  <%= @ad.imgurl %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ad.price %>
</p>

<p>
  <strong>Upvotes:</strong>
  <%= @ad.upvotes %>
</p>

<p>
  <strong>Downvotes:</strong>
  <%= @ad.downvotes %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
