<h2>Coogpostings Login</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class: "field-group">
    <%= f.label :email, class: "form-control"  %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Your Email Address", class: "form-control" %>
  </div>

  <div class="field-group">
    <%= f.label :password ,class: "form-control" %><br />
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Your Password", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field-group">
      <%= f.check_box :remember_me, class: "form-control" %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="field-group">
    <%= f.submit "Log in", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
