<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/CougPostingsLogo.png">

    <title>Coog Postings Dashboard</title>
      
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
      
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    
      <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="" rel="stylesheet">
  </head>

<body>

<main role="main">

<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-2" align="center"><%= @category_name %> Events</h1>
    </div>
    <% if @events.empty? %>
      <p class="display-4 mx-auto">No events to show!</p>
    <% else %>
    <% @events.each do |event| %>

                        
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 pt-4 pb-4">
 <!-- Card -->
<div class="card">
  <!-- Card image -->
   <% @reroute = "/events/" + event.id.to_s %>
    <a href="<%= @reroute %>">
  <div class="view overlay">
    <img class="card-img-top" src="<%= event.imgurl %>" style="height:200px">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div></a>

  <!-- Button -->
  <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i class="fa fa-chevron-right pl-1"></i></a>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title"><%= event.name %></h4>
    <hr>
    <!-- Text -->
    <p class="card-text text-muted"> Location: <%= event.location %></p>
    <p class="card-text">Description</p>

  </div>

  <!-- Card footer -->
  <div class="rounded-bottom mdb-color lighten-3 text-center pt-3" style="background-color:#e2ecff;">
    <ul class="list-unstyled list-inline font-small">
      <li class="list-inline-item pr-2 white-text"><i class="fa fa-clock-o pr-1"></i><%= event.date %> , <%= event.time %></li><br>
      <!--Upvotes-->
      <li class="list-inline-item"><%= link_to like_event_path(event), method: :put do %>
      <img src="/images/upvote.png" class="w-25" style="height:15px">
      <% end %>
      </li>
      <!--Downvotes-->
      <li class="list-inline-item"><%= link_to unlike_event_path(event), method: :put do %>
      <img src="/images/downvote.png" class="w-25" style="height:15px">
      <% end %>
      </li><br>
      <li class="list-inline-item">
      Upvotes: <%= event.get_upvotes.size %>
      </li>
    </ul>
  </div>

</div>
<!-- Card -->
    </div>

      <% end %>
      <% end %>
  </div>
</div>
  



    </main>


    </main>

<!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>
