<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
  crossorigin="anonymous">
  <link href="cover.css" rel="stylesheet">
</head>

<body class="text-center">
      <main role="main" class="inner cover">
          <p>
          <div class="h-50 d-inline-block" style="width: 500px">
          <picture class="w-80">
            <img src="<%= @event.imgurl %>" width="60%" height="">
          </picture>
          </div>
        </p>
        <p>
        <strong>Name:</strong>
          <%= @event.name %>
        </p>
      </main>
    </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>





<p>
  <strong>Category:</strong>
  <%= @event.category.capitalize %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>



<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Details:</strong>
  <%= @event.details %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>


<p>
  <strong>Upvotes:</strong>
  <%= @event.upvotes.to_i %>
</p>


<p>
  <a href="<%= @event.extlink %>"><strong>External Link</strong></a>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
