<header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <img src="CougPostingsLogo.png" height=70 width="70">
      <a class="navbar-brand" href="#">Coug Postings</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Notifications</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    </header>

    <main role="main">

      <section class="jumbotron">
        <div class="container">
           <h1 class="display-3">Featured Events!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>


        </div>
      </section>

      <div class="album py-5 bg-light">
       <div class="container-fluid"> <!-- start container event -->
       
           
              
               
            
            
            <h1 align="left">Events</h1>
            <div class="row">
                
                <% @events.each do |event| %>
                    <div class="col-md-4"><!-- start of event item -->            
                      <div class="card mb-4 shadow-sm" style="background: url(<%= event.imgurl %>); background-size: cover;">
                          <div class="card-jumbo"></div>
                          <div class="centered"><%= event.name %></div>                              
                        <div class="card-body">
                            <p class="card-text">Tags: <%= event.tags %></p>                   
                            <p class="card-text"><%= event.title %></p>               
                          <p class="card-text"><%= event.description %></p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Upvote <%= event.upvotes %></button>
                            &nbsp;
                              <button type="button" class="btn btn-sm btn-outline-secondary">Downvote <%= event.downvotes %></button>
                            </div>
                            <small class="card-text"><%= event.timestamp %></small>
                          </div>
                        </div>
                      </div>
                    </div><!-- end of event item -->
                 <% end %>
                
                
            
        </div><!-- end container event -->
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>
    
    <script>
        jQuery(document).ready(function() {
              // https://api.jquery.com/toggleClass/
                jQuery('.card').hover(function(){
                  jQuery(this).toggleClass('expanded');
                }); 
        });
    </script>
             
              
              